@reference "@/index.css";

.header_ {
}

.marque > span {
	@apply flex items-center gap-1.5 text-white;
}
.marque > span::before {
	content: '';
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #e8a33d;
}

/* .dropdown__trigger {
	@apply relative inline-flex cursor-pointer;
}

.dropdown__trigger > .dropdown__content {
	@apply opacity-0 invisible h-40  absolute top-full w-full shadow-lg border border-gray-200 rounded-sm z-50 bg-white;
}
.dropdown__trigger:focus,
.dropdown__trigger:focus-within > .dropdown__content {
	@apply opacity-100 visible;
} */
